<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.verigy.itee.testflow.core.testflowRunConfigType.selection">
<booleanAttribute key="com.verigy.itee.testflow.core.run.EMU_CHECK" value="false"/>
<booleanAttribute key="com.verigy.itee.testflow.core.run.EMU_IMPORT" value="true"/>
<booleanAttribute key="com.verigy.itee.testflow.core.run.EMU_STORE" value="false"/>
<stringAttribute key="com.verigy.itee.testflow.core.run.EXECUTE_MODE" value="testsuite"/>
<stringAttribute key="com.verigy.itee.testflow.core.run.GROUP_LIST" value=""/>
<booleanAttribute key="com.verigy.itee.testflow.core.run.LOG_LOOP_NUM" value="false"/>
<booleanAttribute key="com.verigy.itee.testflow.core.run.LOOP_CHECK" value="false"/>
<intAttribute key="com.verigy.itee.testflow.core.run.LOOP_COUNT" value="1"/>
<booleanAttribute key="com.verigy.itee.testflow.core.run.SITE_IN_FOCUS" value="false"/>
<booleanAttribute key="com.verigy.itee.testflow.core.run.STEPS_ENABLED" value="false"/>
<booleanAttribute key="com.verigy.itee.testflow.core.run.STOP_ON_FAIL" value="false"/>
<booleanAttribute key="com.verigy.itee.testflow.core.run.STOP_ON_PASS" value="false"/>
<stringAttribute key="com.verigy.itee.testflow.core.run.TESTFLOW_FILE_NAME" value="DDR4_x8_TrainingBoard_New.flw"/>
<stringAttribute key="com.verigy.itee.testflow.core.run.TESTSUITE_LIST" value="Training_Timing_Write_2400R"/>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="false"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
</launchConfiguration>
